<div class="header">
  <div class="info">
    <h4>KAPAMPANGAN HISTORY</h4>
    <h1>HISTORY AND TRADITIONS</h1>
    <div class="wrap">
      <a
        href="https://www.yodisphere.com/2022/09/Kapampangan-Pampanga-Culture-Traditions.html"
        target="_blank"
      >
        <button class="button">LEARN MORE</button></a
      >
    </div>
  </div>
</div>
<section class="content">
  <div class="content-box">
    <h1 class="bold">A BRIEF HISTORY AND OVERVIEW</h1>
    <p>
      Kapampangan refers to the people who speak the Kapampangan language or
      inhabit the province of Pampanga. The name of the province derives from
      pangpang or pangpangan, meaning “riverbank.” Pampango is the Spanish
      version of “Pampanga.”
    </p>
    <p>
      Pampanga has a small land area of 2,180.68 square kilometers, which forms
      part of the central plain extending from Manila Bay north to the Gulf of
      Lingayen. It consists of three subsections. The first is the mountainous
      section that includes the entire stretch of the Zambales range, of which
      Mount Pinatubo is the highest peak, on the western border and Mount Arayat
      at the northeastern part. This area is inhabited mostly by the Aeta who
      depend primarily on hunting, gathering, and raising corn on the slopes for
      subsistence. The second section, located in the southwestern and southern
      parts of the province, is bounded by the Pampanga River, or Rio Grande de
      la Pampanga, and its estuaries. This river, the largest body of water in
      the province, flows south through the eastern portions of the province
      into Manila Bay. Between its eastern bank and the Bulacan boundary is the
      Candaba swamp, which becomes a large lake during the rainy season. This
      section provides livelihood to many Kapampangan who have established a
      fishing industry in the area. The third section covers the flatlands of
      the Central Luzon plains that have been utilized for rice and sugar
      growing. It represents the bulk of the province's landmass and is
      considered the biggest source of livelihood for its people. Pampanga is
      largely agricultural, and the major changes occurring in Kapampangan
      society can be linked to the changes in the agricultural pattern. However,
      the 1991 eruption of Mount Pinatubo, which covered most of the
      agricultural land of Pampanga, has changed the topography and the economic
      profile of the province.
    </p>
  </div>
  <div class="content-box">
    <h1>HISTORY OF PAMPANGA AND THE KAPAMPANGANS</h1>
    <div class="image-with-text">
      <p>
        The sociopolitical and economic conditions in Pampanga before the
        colonizers came indicate that the Kapampangan had a functioning and
        well-adjusted system of self-governance. The agricultural sector
        produced food that was more than sufficient. There were artisans who had
        various skills, laws that preserved peace and order, and a class
        structure that offered security for the members of the community. The
        native Kapampangan also engaged in trade that brought them in contact
        with people beyond their immediate surroundings.
      </p>
      <img
        src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgqv0SwARSBxQH7eWuYR5z6ZLETQTOchIP8yoazdZ_F_GOzEisxjYMElvxXN683qBqjspdHsg5c0lQg2b9Es9G6T60VZZ_BOhi6zOcSyrwD9qcemLDUQZi6zfOhaZSSmiyDgzdw44KpZgpaQieK3E7A5Yd240zIHqCPlwmshyX2L2_uq3BeCA/s450/2357_History_1.width-3000.jpg"
        alt="Image Description"
        class="kp-image-right"
      />
      <p>
        Burial sites containing Chinese pottery and early Spanish accounts
        indicate long-standing links of the Kapampangan with the outside world,
        particularly the Chinese. Records also show that they did not only
        engage in trade but traveled by sea as well, sailing to places such as
        the Moluccas, Malacca, and Borneo.
      </p>
    </div>

    <p>
      When the Spaniards came, there were already communities along the water
      routes, mainly in the south near the Rio Grande or along its tributaries
      farther north. The 11 most important settlements in the 16th century were
      Lubao, Macabebe, Sexmoan (now Sasmuan), Betis, Guagua, Bacolor, Apalit,
      Arayat, Candaba, Porac, and Mexico (Masicu). Rice was the major crop, and
      the farmers and other residents lived in autonomous villages called
      barangay. Accounts also point to a fairly advanced material culture as
      evidenced by woven cotton cloth and metalcraft, as well as extensive use
      of Chinese pottery.
    </p>
    <p>
      An official Spanish report in 1567 states that at least two communities,
      Lubao and Betis, had Muslim inhabitants. However, there is no evidence
      that Islam had spread to the rest of the province during that period.
    </p>
    <p>
      The conquest of Pampanga by the Spanish colonizers began in 1571 right
      after the defeat of Raja Soliman in Tondo. Although there was some
      resistance from the Muslim communities in Lubao and Betis, Hispanization
      proceeded so rapidly that in 1574, Kapampangan soldiers were fighting on
      the side of the Spaniards to repel the onslaught of the Chinese pirate
      Limahong. By 1597, Augustinian friars were already highly visible in all
      11 major Kapampangan communities. By the middle of the 17th century,
      almost all the natives were under the influence of the Catholic Church.
    </p>
    <p>
      Its fertile soil and easy access to Manila made Pampanga very valuable to
      the Spanish government. The dependence of Manila on the province for its
      food requirements pushed officials to maintain good relations with
      Pampanga's leaders. Pampanga was also the reliable supplier of lumber used
      for building and maintaining the Spanish naval fleet and galleons, as well
      as various structures such as school buildings.
    </p>
    <p>
      The province was important to the colonizers as a source of soldiers. The
      Kapampangan not only helped defend Manila against Limahong but also joined
      in the massacre of the Chinese population around Manila. As a reward, some
      Kapampangan were given positions in the Spanish army and cited for their
      “bravery” and for being the most “reasonable” and “civilized” among the
      natives. From 1603 to the end of the Spanish regime, a contingent of
      Kapampangan soldiers served in the colonial army. In the 17th century it
      fought against the Dutch and set up an occupation force in the Moluccas.
      It also participated in campaigns against a rebel group in Panay and
      against the Muslims, and once again in another massacre of the Chinese in
      1640. In the 18th century, it fought the advancing Muslims and defended
      the Spanish government against the British.
    </p>
    <p>
      Pampanga was organized as an alcaldia (province) in 1571 to make it easier
      for the Spanish authorities to pacify, tax, convert, and compel the
      natives to adjust to Spanish ways. Although Augustinian friars were relied
      on to supervise local affairs, secular officials, including native
      leaders, were also employed. Individual Spaniards who were awarded
      encomiendas or areas of jurisdiction as their reward for faithful service
      to the crown were allowed to collect taxes thereon and retain a certain
      percentage. Most famous of the encomiendas was the Villa de Bacolor, whose
      original, native name was Baculud, so named by decree of the King of Spain
      and given its own coat of arms. Bacolor served as the capital of the
      province from 1755 to 1903, and as seat of the Spanish colonial government
      after the fall of Manila to the British in 1762.
    </p>
    <p>
      After the encomienda system failed, mainly because of conflict over the
      disposition of the encomiendas and their tax collections, the pueblos or
      towns were established and headed by town mayors called gobernadorcillos.
      The gobernadorcillos of the various pueblos and the parish priests were
      partners in assuring the central government of a loyal and productive
      citizenry.
    </p>
    <p>
      On at least two occasions, however, the excesses of the regime drove the
      population to rise up in arms. In 1583, the forced labor policy of the
      government sent many natives to work in the gold mines of the Ilocos but
      did not allow them to return home in time for the planting season. As a
      result, grave food shortages occurred the following year not only in
      Pampanga but in Manila as well. Thousands were reported to have starved to
      death. The people decided to revolt and attempted to invade Manila, but
      army intervention led to the arrest and execution of many Kapampangan
      rebels. In 1660, the forced cutting of timber for the use of the galleons
      and naval ships, and the failure of the Spanish government to pay for the
      huge amount of rice that it had collected enraged the people once more.
      The planned revolt, under the leadership of Francisco Maniago of Mexico,
      involved residents of Pangasinan, Ilocos, and Cagayan. However, Spanish
      governor Manrique de Lara succeeded in eroding the unity of the rebels by
      displaying armed might and befriending the natives, especially their
      chiefs. By promising many rewards, he won to his side one of the leaders,
      Juan Macapagal, and thus discouraged the other chiefs, who were generally
      weak and vacillating. The revolt was subdued even before a single shot
      could be fired. The two failed attempts effectively silenced further
      Kapampangan resistance until the revolution of 1896.
    </p>
    <p>
      As Spanish rule progressed, certain changes occurred in Kapampangan
      society. The datu, who was now known as cabeza de barangay, and the local
      gobernadorcillo became members of the principalia (elite class), which
      acted as the intermediary between the people and the colonial government.
      The principalia's twin responsibilities were to assure delivery to Manila
      of food supplies and taxes collected, and to maintain loyalty to the new
      order. In return, they were given many privileges that guaranteed their
      superior social and political status in the community.
    </p>
    <p>
      With the slavery system abolished by the Spanish authorities, a two-class
      societal structure emerged, with the datu-cabezas forming the upper
      section and the timawa (freeborn) and former slaves, the lower section.
      The cabezas collected tribute to maintain their economic control over the
      peasants. Villagers unable to pay the imposed taxes were forced to borrow
      from the principalia at usurious rates. This arrangement was known as
      samacan; the peasant-borrower was called the casamac. The excessively high
      interest exacted kept the peasant in perpetual debt. However, this new
      burden did not seem to unduly distress the peasants, as the presence of a
      recognized leader among them gave them a sense of security.
    </p>
    <p>
      Manila was opened to world commerce in 1790 when the Real Compania de
      Filipinas (Royal Philippine Company), a joint venture of the government
      and a private corporation, started direct trade between the Philippines
      and Spain, ushering the country into a new era of economic activity. In
      Pampanga, the demands of the world market caused a gradual shift from rice
      to sugar as the major crop. Sugar became the principal source of income
      and wealth for both the native elite and Spanish officialdom.
    </p>
    <p>
      The prevalence of cash-crop agriculture gave rise to a new group of
      Kapampangan: the business-minded Chinese mestizos. A product of the
      intermarriage of Chinese men and native women, the mestizos eventually
      moved away from their original settlement in Guagua. They mixed with the
      general population in the town centers, established small businesses,
      accepted local manners and customs, and intermarried with native men and
      women. The mestizos loaned to small landlords the capital needed in
      switching from rice to sugar. In return, the landlords pledged their
      property as collateral. In this manner, ownership of considerable areas of
      agricultural land was transferred from native to mestizo.
    </p>
    <p>
      Increasing control of the community's economic life meant an increase in
      social and political clout. Before long, the Kapampangan principalia began
      to be dominated by the newcomers. To preserve their position, native
      families found it necessary to intermarry with mestizos.
    </p>
    <p>
      As the new industry continued to progress, the new principalia was
      becoming an elite. Apart from controlling the economy, they penetrated the
      professions, including the priesthood. They gradually began using the
      Spanish language, thus further alienating them from the peasantry.
      Desiring to consolidate their wealth and enlarge their sphere of
      influence, the leading families of one pueblo intermarried with those of
      other pueblos.
    </p>
    <p>
      The sugar boom continued in the 19th century, and rice was displaced as
      the number one produce of the province. The function of the land changed,
      from the culture of food crops for consumption to production for trade.
      More and more, land became the source of wealth and power. The cacique, as
      the landlords were now called, started using labor contracts in dealing
      with their tenants. The tenants hardly had enough income at the end of
      each crop season to enable them to save and move up the social ladder.
      They incurred debts, which they eventually passed on to their children,
      thus perpetuating their tenant status.
    </p>
    <p>
      As Pampanga drew closer to Manila through economic contact, the
      native-mestizo upper class became more modern in behavior and outlook.
      They began to imbibe western attitudes through association with Spaniards
      and visiting Europeans as well as through their schooling. This group of
      ilustrados (educated), mostly European educated and Spanish speaking,
      occupied the topmost level of the hierarchical structure of Kapampangan
      society.
    </p>
    <p>
      Below the ilustrados were the other landowners who confined themselves to
      managing their estates within the province. The least prestigious
      belonging to this class was the group of professionals who emerged as a
      result of the cash-crop economy. Their status derived from the practice of
      their profession rather than ownership of land.
    </p>
    <div class="image-with-text">
      <img
        src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi_E6w9Hl2mwpUVG2ZWVofzJPYEelg7v0369C-1FxAEJ9zH_FFS_u9psnxb7_SQC0CPvl-wn3T7JrDPz0VBpkKhaGgKht66uwNfH5UAganwppsXM9EzFgI1mfsO0Xtxpd5uGv8lFEn0_0-Xl29QhyLrF5A42zBnB5Iz3NCbAJfe5Ib8LOwMGA/s450/2357_History_2.width-3000.jpg"
        alt="Image Description"
        class="kp-image-left"
      />
      <p>
        Below the ilustrados were the other landowners who confined themselves
        to managing their estates within the province. The least prestigious
        belonging to this class was the group of professionals who emerged as a
        result of the cash-crop economy. Their status derived from the practice
        of their profession rather than ownership of land.
      </p>
    </div>
    <p>
      Pampanga may have been initially indifferent towards the political
      conflict raging in the late 19th century in the neighboring Tagalog
      provinces. However, a few Kapampangan ilustrado like Jose Alejandrino, who
      had been introduced to liberal thinking through their European sojourn,
      supported the clamor for reform initiated by the Tagalog ilustrados like
      Jose Rizal and Marcelo H. del Pilar. In the beginning, few, even among the
      peasantry, seemed interested in joining the more militant mass-based
      Katipunan movement of Andres Bonifacio, mainly because the problems facing
      the Tagalog were not as severely felt in Pampanga: There were no large
      church estates, and ownership of much of the arable land was with the
      Kapampangan themselves. Furthermore, the paternalistic relations between
      the landlords and peasants were still operative.
    </p>
    <p>
      Later, escalating hostilities spread throughout the province. A
      Kapampangan contingent fought at Orani, Bataan while some joined Aguinaldo
      in Cavite. Many Kapampangan, however, remained loyal to Spain. Some, like
      the Macabebe soldiers, served in the Spanish (and later, the American)
      army.
    </p>
    <p>
      The attitude of the Kapampangan significantly changed when Aguinaldo
      reached the area and switched from open fighting to guerrilla tactics. The
      first Katipunan secret cell in the province was established in Guagua in
      August 1897, and in June 1898, Pampanga committed itself to the
      revolutionary cause. Upon the establishment of the first Philippine
      Republic, many belonging to the Kapampangan elite took office under the
      new government. Jose Alejandrino and Jose Infante, two of the more
      prominent Kapampangan at the time, served in the Constitutional Convention
      at Malolos, Bulacan in 1898. Tiburcio Hilario served as provincial
      governor and Ceferino Joven as mayor of Bacolor. The provincial council
      was composed of Joven, Hilario, Mariano Vicente Henson, Mariano Alimurung,
      and Roman Valdes.
    </p>
  </div>
</section>
