.container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://www.hau.edu.ph/images/banner-3.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
