<div class="header">
  <div class="info">
    <h4>KAPAMPANGAN HISTORY</h4>
    <h1>PROMINENT KAPAMPANGANS</h1>
    <div class="wrap">
      <a
        href="https://www.facebook.com/101809152084543/posts/kapampangan-heroes-and-prominent-kapampangans-pampangamost-filipinos-cannot-name/104666005132191/"
        target="_blank"
      >
        <button class="button">LEARN MORE</button></a
      >
    </div>
  </div>
</div>
<section class="content">
  <div class="content-box">
    <h1>GALLERY OF KAPAMPANGAN HEROES</h1>
    <div id="container">
      <div class="div-img">
        <img
          class="img"
          src="https://scontent.fmnl9-3.fna.fbcdn.net/v/t1.6435-9/184003860_104622718469853_2504048258078790039_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeG8v2usiDxvXAo3ygsXATWQP4VaTVroydA_hVpNWujJ0BJN39vixtCnueAd9QBLYOgXBdnSGIB5hQjGqN6l3oJD&_nc_ohc=kimkZmZWkEAAX-BpQzF&_nc_ht=scontent.fmnl9-3.fna&oh=00_AfCbq0n_M7mPYBioM4dfsj5-zQhDEmSwtkAMnwSawdaF-A&oe=647396FF"
        />
        <div class="text">TARIK SOLIMAN</div>
      </div>
      <div class="div-img">
        <img
          class="img"
          src="https://scontent.fmnl9-1.fna.fbcdn.net/v/t1.6435-9/184312073_104622698469855_1201000730601786022_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGYBfl6V-Wql4x2yV1NlarUlw7tW5oNptWXDu1bmg2m1VQov3A42_wTAzdgLj3ljsukpbFgFfTyMYvwzTZIWVlO&_nc_ohc=O9p_wZvhMEkAX-z7FwO&_nc_ht=scontent.fmnl9-1.fna&oh=00_AfBfKaIwML3jO2l1A_DlL8j1c_wStIx7mXnduBMCl2_36w&oe=6473A43C"
        />
        <div class="text">MARTIN SANCHO</div>
      </div>
      <div class="div-img">
        <img
          class="img"
          src="https://scontent.fmnl9-4.fna.fbcdn.net/v/t1.6435-9/184092495_104622728469852_4174560456851273903_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHgLr3EHXDvm6iCeVs1qI-A9wxn_bqWcbD3DGf9upZxsDkgU5qzoLUUP-t3EDWUrgf_8vjwZkLn7ZSUG8sMjbQ4&_nc_ohc=BWL31ofDqPgAX-Egmuu&_nc_ht=scontent.fmnl9-4.fna&oh=00_AfBEIQC7guqEf2CsCAFRbJ0v3wqMjVhZ0d88e49nK-NZjA&oe=6473B331"
        />
        <div class="text">RUFINO SANTOS</div>
      </div>
      <div class="div-img">
        <img
          class="img"
          src="https://scontent.fmnl9-3.fna.fbcdn.net/v/t1.6435-9/184261598_104622785136513_1595777173121911119_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeESm3W1xZMUNokQQecPYcae0a6l5TdkAonRrqXlN2QCiXIxtw8W015D7FwsAMTS6FwzOSIxZ406MATdpgbujn6r&_nc_ohc=kTPKb7ULxa4AX__osPr&_nc_ht=scontent.fmnl9-3.fna&oh=00_AfAAvY9VYOqtSYxLRBSnx-HIo30Wo1erGCUsA5NWSiuzJA&oe=6473ADFF"
        />
        <div class="text">REMEDIOS GOMEZ</div>
      </div>
      <div class="div-img">
        <img
          class="img"
          src="https://scontent.fmnl9-2.fna.fbcdn.net/v/t1.6435-9/184961062_104622818469843_8602296444513038212_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeEy6sYfWkOYhKSfr_9qSRYTufW37855Kyu59bfvznkrKyyvS7tTlMahX6rRRvBJhKJmnm2CYBGFbjSIQDTYbO7s&_nc_ohc=DEgCBKrwRo0AX-IetCE&_nc_ht=scontent.fmnl9-2.fna&oh=00_AfCm9VMCtjThyN1ndOlYQ7S1WlVOkrVLCBpoWJi1ZdUO8g&oe=64743163"
        />
        <div class="text">LUIS MANGALUS TARUC</div>
      </div>
      <div class="div-img">
        <img
          class="img"
          src="https://scontent.fmnl9-3.fna.fbcdn.net/v/t1.6435-9/184132927_104622705136521_5923742871340678954_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeEHRJ5HLal-l9fo_JNUQvEZIxGlagbZXVYjEaVqBtldVs-Sga1dEWuVw2JMT60fRHM7PbaooKRwwYnVobQFK4qf&_nc_ohc=DQY1qhs5SD8AX8bqf-v&_nc_ht=scontent.fmnl9-3.fna&oh=00_AfDow9G4s5FsiqZlw-NNel2UEqxLU9nGEQ_ukTMU4SzTBw&oe=64742855"
        />
        <div class="text">PEDRO ABAD SANTOS</div>
      </div>
      <div class="div-img">
        <img
          class="img"
          src="https://scontent.fmnl9-3.fna.fbcdn.net/v/t1.6435-9/184270920_104622831803175_2368968695423553536_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGDEPap6AUSWt8Tp_-iA6Em7bn4etyuT9Ttufh63K5P1G-vY35Dsw_hl43iWtyvI0NS9z4P4b3plOKOOvFtBeLw&_nc_ohc=ag-nM0T4_ZkAX_lvHdW&_nc_ht=scontent.fmnl9-3.fna&oh=00_AfDoz0nxzVHucz4xYcF08jbdaFoOY6Fz3ierV9xCY9SUHQ&oe=64742518"
        />
        <div class="text">JOSE ABAD SANTOS</div>
      </div>
      <div class="div-img">
        <img
          class="img"
          src="https://scontent.fmnl9-4.fna.fbcdn.net/v/t1.6435-9/184172964_104622841803174_7918315845211084765_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeFB6x9bWsCYP5i2diSfwi8NofGFNzUm0Wuh8YU3NSbRa0S30BKBmkgqg3MWh-VwmFUlXGp4u9UgyfWWS25e3xe8&_nc_ohc=1lH-o4R1GagAX90Ds55&_nc_ht=scontent.fmnl9-4.fna&oh=00_AfCHkZsfK4VI6FEvyIaGFqhhOtwTek1dFr3jGSMfaSsMUw&oe=64742857
          "
        />
        <div class="text">DIOSDADO M</div>
      </div>
    </div>
    <div class="recent-blogs">
      <div class="recent-petra">
        <div class="petra-content">
          <h4>TARIK SOLIMAN aka BAMBILITO</h4>
          <!-- <cite>Oct. 4</cite> -->
          <p class="recent-desc">
            He is the Macabebe chieftain who rallied thousands of Macabebe
            warriors to Tondo to resist Miguel Lopez de Legazpi in 1571.
            Abandoned by Tagalog leaders Lacandula, Rajah Matanda and Rajah
            Soliman, he faced the Spanish conquistadores alone at the critical
            Battle of Bangkusay. His death sealed the fate of the country, and
            yet who remembers him except us Kapampangans.
          </p>
        </div>
        <!-- petra-content -->
        <img
          src="https://scontent.fmnl9-3.fna.fbcdn.net/v/t1.6435-9/184003860_104622718469853_2504048258078790039_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeG8v2usiDxvXAo3ygsXATWQP4VaTVroydA_hVpNWujJ0BJN39vixtCnueAd9QBLYOgXBdnSGIB5hQjGqN6l3oJD&_nc_ohc=kimkZmZWkEAAX-BpQzF&_nc_ht=scontent.fmnl9-3.fna&oh=00_AfCbq0n_M7mPYBioM4dfsj5-zQhDEmSwtkAMnwSawdaF-A&oe=647396FF"
          alt="Petra"
          class="petra-img"
        />
      </div>
    </div>
    <div class="recent-blogs">
      <div class="recent-petra">
        <div class="petra-content">
          <h4>MARTIN SANCHO</h4>
          <!-- <cite>Oct. 4</cite> -->
          <p class="recent-desc">
            The 10-year-old Kapampangan prodigy who was shipped to Spain in 1587
            to recite the entire Catholic Catechism (in Latin!) before King
            Philip II. His performance convinced the King that the natives he
            thought were savages were actually as erudite as Europeans, and that
            the colony he was ready to quit was after all worth keeping. After
            creating a sensation in Madrid, Martin next went to Rome where he
            studied and eventually became the first Filipino Jesuit. Yet he only
            merited a tiny footnote in Jesuit annals and no mention at all in
            history books.
          </p>
        </div>
        <!-- petra-content -->
        <img
          src="https://scontent.fmnl9-1.fna.fbcdn.net/v/t1.6435-9/184312073_104622698469855_1201000730601786022_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGYBfl6V-Wql4x2yV1NlarUlw7tW5oNptWXDu1bmg2m1VQov3A42_wTAzdgLj3ljsukpbFgFfTyMYvwzTZIWVlO&_nc_ohc=O9p_wZvhMEkAX978gC1&_nc_ht=scontent.fmnl9-1.fna&oh=00_AfAOrNRaAPJpYFeH-_dWyjdCGOlIHKjtAZShdbRbC9RXpg&oe=647414BC"
          alt="Petra"
          class="petra-img"
        />
      </div>
    </div>
    <div class="recent-blogs">
      <div class="recent-petra">
        <div class="petra-content">
          <h4>RUFINO JIAO SANTOS</h4>
          <!-- <cite>Oct. 4</cite> -->
          <p class="recent-desc">
            The first Filipino Cardinal, became the 29th Archbishop of Manila in
            a post-war scenario that saw a nation plagued with the following: a
            high dependency on the upper class in the country's social, economic
            and political growth; a growing inequality in the distribution of
            wealth; a critical unfairness in labor, land and tenancy—all
            catalysts to the resurgence of the communist movement.
          </p>
        </div>
        <!-- petra-content -->
        <img
          src="https://scontent.fmnl9-4.fna.fbcdn.net/v/t1.6435-9/184092495_104622728469852_4174560456851273903_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHgLr3EHXDvm6iCeVs1qI-A9wxn_bqWcbD3DGf9upZxsDkgU5qzoLUUP-t3EDWUrgf_8vjwZkLn7ZSUG8sMjbQ4&_nc_ohc=BWL31ofDqPgAX96MsvT&_nc_ht=scontent.fmnl9-4.fna&oh=00_AfDQmkBpFL0UKQaMq30KOAtKN3tiB0bJFLLbq0YcZpCQbQ&oe=647423B1"
          alt="Petra"
          class="petra-img"
        />
      </div>
    </div>
    <div class="recent-blogs">
      <div class="recent-petra">
        <div class="petra-content">
          <h4>REMEDIOS GOMEZ aka KUMANDER LIWAYWAY</h4>
          <!-- <cite>Oct. 4</cite> -->
          <p class="recent-desc">
            REMEDIOS GOMEZ aka KUMANDER LIWAYWAY The Huk soldier known as
            Kumander Liwayway who polished her nails and wore makeup before
            going to battle. Her feminine ways amused and sometimes irritated
            her comrades, but she proved that a woman didn't have to act like a
            man to fight like a man. Her courage made Huk Supremo Luis Taruc
            declare that “the role of women was one of the proudest features of
            the Hukbalahap.” When President Manuel Roxas scolded her after her
            capture, she told him “You are wrong, Mr. President” to his face.
          </p>
        </div>
        <!-- petra-content -->
        <img
          src="https://scontent.fmnl9-3.fna.fbcdn.net/v/t1.6435-9/184261598_104622785136513_1595777173121911119_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeESm3W1xZMUNokQQecPYcae0a6l5TdkAonRrqXlN2QCiXIxtw8W015D7FwsAMTS6FwzOSIxZ406MATdpgbujn6r&_nc_ohc=kTPKb7ULxa4AX8yxTHH&_nc_ht=scontent.fmnl9-3.fna&oh=00_AfBduYxYyK_afAQG7uf9mDn5J364KCApUQT8WSJgDJeDbg&oe=64741E7F"
          alt="Petra"
          class="petra-img"
        />
      </div>
    </div>
    <div class="recent-blogs">
      <div class="recent-petra">
        <div class="petra-content">
          <h4>LUIS MANGALUS TARUC</h4>
          <!-- <cite>Oct. 4</cite> -->
          <p class="recent-desc">
            A Filipino political figure and rebel during the agrarian unrest of
            the 1930s until the end of the Cold War. He was the leader of the
            Hukbalahap group (from Hukbong Bayan Laban sa Hapon) between 1942
            and 1950. His involvement with the movement came after his
            initiation to the problems of agrarian Filipinos when he was a
            student in the early 1930s. During World War II, Taruc led the
            Hukbalahap in guerrilla operations against the Japanese occupants of
            the Philippines.
          </p>
        </div>
        <!-- petra-content -->
        <img
          src="https://scontent.fmnl9-2.fna.fbcdn.net/v/t1.6435-9/184961062_104622818469843_8602296444513038212_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeEy6sYfWkOYhKSfr_9qSRYTufW37855Kyu59bfvznkrKyyvS7tTlMahX6rRRvBJhKJmnm2CYBGFbjSIQDTYbO7s&_nc_ohc=DEgCBKrwRo0AX-IetCE&_nc_ht=scontent.fmnl9-2.fna&oh=00_AfCm9VMCtjThyN1ndOlYQ7S1WlVOkrVLCBpoWJi1ZdUO8g&oe=64743163"
          alt="Petra"
          class="petra-img"
        />
      </div>
    </div>
    <div class="recent-blogs">
      <div class="recent-petra">
        <div class="petra-content">
          <h4>PEDRO ABAD SANTOS</h4>
          <!-- <cite>Oct. 4</cite> -->
          <p class="recent-desc">
            He is a doctor, lawyer, Marxist, and politician who later became a
            leader of the first of two Communist rebellions from the 1930s to
            the 1950s. He was popular as the champion of the poor, offering free
            legal assistance and helping organize labor organizations. He
            rendered free legal services to farmers in their cases against their
            landlord and eventually founded the Socialist Party of the
            Philippines on October 26, 1932. He also founded the Aguman Ding
            Malding Talapagobra (AMT) or the General Workers Union which was an
            organization of rural workers fighting for the improvement of
            working conditions of peasants, the expropriation of landed estates
            and friar lands and the establishment of farmer cooperatives.
          </p>
        </div>
        <!-- petra-content -->
        <img
          src="https://scontent.fmnl9-3.fna.fbcdn.net/v/t1.6435-9/184132927_104622705136521_5923742871340678954_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeEHRJ5HLal-l9fo_JNUQvEZIxGlagbZXVYjEaVqBtldVs-Sga1dEWuVw2JMT60fRHM7PbaooKRwwYnVobQFK4qf&_nc_ohc=DQY1qhs5SD8AX8bqf-v&_nc_ht=scontent.fmnl9-3.fna&oh=00_AfDow9G4s5FsiqZlw-NNel2UEqxLU9nGEQ_ukTMU4SzTBw&oe=64742855"
          alt="Petra"
          class="petra-img"
        />
      </div>
    </div>
    <div class="recent-blogs">
      <div class="recent-petra">
        <div class="petra-content">
          <h4>JOSE ABAD SANTOS</h4>
          <!-- <cite>Oct. 4</cite> -->
          <p class="recent-desc">
            One of the famous Kapampangan, who was Acting President of the
            Philippines and Chief Justice of the Supreme Court at the same
            time--not to mention Secretary of Justice, Finance, Agriculture and
            Commerce! During Japanese occupation, he refused to fled into
            another country but to stay within the country and continue to
            perform his duties that lead for him to handle these various
            positions at once. He was later then captured and died under the
            Japanese as he was a important figure. He had a honorable and
            glorious death, died for the country and its people.
          </p>
        </div>
        <!-- petra-content -->
        <img
          src="https://scontent.fmnl9-3.fna.fbcdn.net/v/t1.6435-9/184270920_104622831803175_2368968695423553536_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGDEPap6AUSWt8Tp_-iA6Em7bn4etyuT9Ttufh63K5P1G-vY35Dsw_hl43iWtyvI0NS9z4P4b3plOKOOvFtBeLw&_nc_ohc=ag-nM0T4_ZkAX_lvHdW&_nc_ht=scontent.fmnl9-3.fna&oh=00_AfDoz0nxzVHucz4xYcF08jbdaFoOY6Fz3ierV9xCY9SUHQ&oe=64742518"
          alt="Petra"
          class="petra-img"
        />
      </div>
    </div>
    <div class="recent-blogs">
      <div class="recent-petra">
        <div class="petra-content">
          <h4>DIOSDADO PANGAN MACAPAGAL</h4>
          <!-- <cite>Oct. 4</cite> -->
          <p class="recent-desc">
            He was the ninth President of the Philippines, serving from 1961 to
            1965. As President, Macapagal worked to suppress graft and
            corruption and to stimulate the Philippine economy. He introduced
            the country's first land reform law, placed the peso on the free
            currency exchange market, and liberalized foreign exchange and
            import controls. He is also known for shifting the country's
            observance of Independence Day from July 4 to June 12.
          </p>
        </div>
        <!-- petra-content -->
        <img
          src="https://scontent.fmnl9-4.fna.fbcdn.net/v/t1.6435-9/184172964_104622841803174_7918315845211084765_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeFB6x9bWsCYP5i2diSfwi8NofGFNzUm0Wuh8YU3NSbRa0S30BKBmkgqg3MWh-VwmFUlXGp4u9UgyfWWS25e3xe8&_nc_ohc=1lH-o4R1GagAX90Ds55&_nc_ht=scontent.fmnl9-4.fna&oh=00_AfCHkZsfK4VI6FEvyIaGFqhhOtwTek1dFr3jGSMfaSsMUw&oe=64742857"
          alt="Petra"
          class="petra-img"
        />
      </div>
    </div>
  </div>
</section>
